includes:
  - vendor/gacela-project/phpstan-extension/extension.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/

    gacela:
        modulesNamespace: PhpLightning
        excludedNamespaces:
            - PhpLightning\Shared

    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Cannot cast mixed to .*.#'
        - '#Method PhpLightning\\.*::.* should return array<.*> but returns array#'
        - '#Method PhpLightning\\.*::.* should return .* but returns mixed#'
