parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Cannot cast mixed to .*.#'
        - '#Method PhpLightning\\.*::.* should return array<.*> but returns array#'
        - '#Method PhpLightning\\.*::.* should return .* but returns mixed#'
